body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.main-content {
    width: 66%;
    margin:0 17%;
}

h3, li {
    font-size: 1.2rem;
}

h2, h3 {
    text-decoration: underline;
}
p {font-size: 1.2rem;text-align: justify;}

#principal {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

#principal a {
    text-decoration: none;
}


#principal a, #principal p  {  
    color: #938ba1;
   
}

#principal p  {
    margin-top: 20px;
    text-align: justify;
    font-size: 1.3 rem;
    font-weight: 500;
}

.voluntarias {
    font-size: 1.3 rem;
}

#resumen {
    text-align: left;
}

#resumen .voluntarias h1 {
    text-align:left;
}

#personas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

#personas-container > a {
    text-decoration: none;
}

.personas:hover {
    opacity: 0.7;
}

img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    
}

.personas-nombre {
    font-size: 30px;
    position: absolute;
    margin-left: 20px;
    margin-top: 150px;
}


.voluntarias {
    background: none repeat scroll rgba(6,84,114,.6);
    margin-left: 5px;
    padding: 20px 25px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

.voluntarias h2,.voluntarias p {
    opacity: 1;
}