/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('../img/home/forest.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none !important;
    color: white !important;
}
header .logo a {
    text-decoration: none !important;  /* Elimina el subrayado */
    color: white !important;           /* Asegura que el color sea blanco */
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}


header nav a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

.main-content h1 {
    font-size: 3rem;
    margin: 0;
}

.main-content .subtitle {
    margin-top: 20px;
    font-size: 1.2rem;
}

.main-content .btn {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #9ACD32;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.main-content .btn:hover {
    background-color: #7DA027;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}


@media only screen and (max-width: 800px) { 
    nav {
        display: none;
    }
    .main-content h1 {font-size: 2rem;}
}