/* General Styles */
body {
    margin: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: url('../img/home/caloto.png') no-repeat center center fixed;
    background-position: top center; /* Alinea la imagen al principio (arriba) y al centro */
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen para que no se desplace al hacer scroll */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none !important;
    color: white !important;
}
header .logo a {
    text-decoration: none !important;  /* Elimina el subrayado */
    color: white !important;           /* Asegura que el color sea blanco */
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

header nav a:hover